@font-face {
    font-family: "mamelon";
    src: url("./mamelon.woff") format("woff");
}

body {
    background-color: #add8e6;
}

#container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

h1 {
    font-family: "mamelon";
    text-align: center;
    margin-bottom: 5%;
}

.finish-text {
  -webkit-text-stroke: 1px #777;
  margin: 1% 0 0 0;
  color: #fff;
  font-size: 2rem;
  font-family: 'Fredoka One', cursive;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.aa {
    margin: auto;
    height: 150px;
    width: 300px;
    vertical-align: text-bottom;
    position: relative;
}

.aa img {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
